// This file is @generated
package com.svix.kotlin.models

import com.svix.kotlin.MaybeUnset
import kotlinx.datetime.Instant
import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable
import kotlinx.serialization.json.JsonObject

@Serializable
data class {{ type.name | to_upper_camel_case }}(
{% for field in type.fields -%}
    {% set f_name = field.name | to_lower_camel_case -%}
    {% set f_type = field.type.to_kotlin() -%}
    {% set f_val = "" -%}
    {% set use_nullable = type.name is endingwith "Patch" and field.nullable -%}
    {% if use_nullable -%}
        {% set f_type %}MaybeUnset<{{ f_type }}>{% endset -%}
    {% endif -%}
    {% if not field.required and not use_nullable -%}
        {% set f_type %}{{ f_type }}?{% endset -%}
        {% set f_val = "= null" -%}
    {% endif -%}

    {% if field.name | to_lower_camel_case != field.name -%}
    @SerialName("{{ field.name }}")
    {% endif -%}
    val {{ field.name | to_lower_camel_case }}: {{ f_type }} {{ f_val }},
{% endfor %}
)
