from enum import IntEnum


class {{ type.name | to_upper_camel_case }}(IntEnum):
    {% for varname, value in type.variants -%}
    {{ varname | to_upper_snake_case }} = {{ value }}
    {% endfor -%}

    def __str__(self) -> str:
        return str(self.value)
