from enum import IntEnum


class {{ type.name | to_upper_camel_case }}(IntEnum):
    {% for value in type.values -%}
    VALUE_{{ value }} = {{ value }}
    {% endfor -%}

    def __str__(self) -> str:
        return str(self.value)
