import typing as t
from pydantic import Field
from datetime import datetime

from .common import BaseModel

{% for c in referenced_components -%}
from . {{ c | to_snake_case }} import {{ c | to_upper_camel_case }}
{% endfor -%}

class {{ type.name | to_upper_camel_case }}(BaseModel):
{%- if type.description is defined %}
    {{ type.description | to_doc_comment(style="python") | indent(4) }}
{% endif %}
{%- for field in type.fields %}
    {%- if field.required and not field.nullable %}
    {{ field.name | to_snake_case }}: {{ field.type.to_python() }}
    {%- elif field.required and field.nullable %}
    {{ field.name | to_snake_case }}: t.Optional[{{ field.type.to_python() }}]
    {%- else %}
    {{ field.name | to_snake_case }}: t.Optional[{{ field.type.to_python() }}] = None
    {%- endif %}
    {%- if field.description is defined %}
    {{ field.description | to_doc_comment(style="python") | indent(4) }}
    {%- endif %}
{% endfor %}
