// This file is @generated
{% set ty_name = type.name | to_upper_camel_case -%}
package com.svix.models;

import com.fasterxml.jackson.annotation.JsonValue;

public enum {{ ty_name }} {
    {% for value in type.values -%}
    {{ value | to_upper_snake_case }}("{{ value }}") {% if loop.last %};{% else %},{% endif %}
    {% endfor -%}
    private final String value;

    {{ ty_name }}(String value) {
        this.value = value;
    }
    @JsonValue
    public String getValue() {
        return this.value;
    }
}


{# import com.svix.kotlin.ToQueryParam
import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable
import kotlinx.serialization.json.Json
import kotlinx.serialization.json.JsonPrimitive
import kotlinx.serialization.json.encodeToJsonElement
import kotlinx.serialization.json.jsonPrimitive


@Serializable
enum class  {{ type.name | to_upper_camel_case }} : ToQueryParam {
    {% for value in type.values -%}
    @SerialName("{{ value }}")
    {{ value | to_upper_snake_case }} {% if loop.last %};{% else %},{% endif %}
    {% endfor -%}

    override fun toQueryParam() = Json.encodeToJsonElement(this).jsonPrimitive.content

} #}
