{{ doc_comment }}
export enum {{ type.name | to_upper_camel_case }} {
    {% for name, value in type.variants -%}
    {{ name | to_upper_camel_case }} = {{ value }},
    {% endfor -%}
}

export namespace {{ type.name | to_upper_camel_case }}Util {
    export function _fromJsonObject(object: any): {{ type.name | to_upper_camel_case }} {
        return object;
    }

    export function _toJsonObject(self: {{ type.name | to_upper_camel_case }}): any {
        return self;
    }
}
